<!--<!DOCTYPE html>-->
<!--{% load static %}-->
<!--<html lang="en">-->
<!--    <head>-->
<!--        <meta charset="utf-8" />-->
<!--        <title>Log In | Tescan</title>-->
<!--        <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />-->
<!--        <meta content="Coderthemes" name="author" />-->
<!--        &lt;!&ndash; App favicon &ndash;&gt;-->
<!--        <link rel="shortcut icon" href="assets/images/favicon.ico">-->

<!--        &lt;!&ndash; App css &ndash;&gt;-->
<!--        <link href="{% static 'assets/css/icons.min.css'%}" rel="stylesheet" type="text/css" />-->
<!--        <link href="{% static 'assets/css/app-creative.min.css'%}" rel="stylesheet" type="text/css" id="light-style" />-->
<!--        <link href="{% static 'assets/css/app-creative-dark.min.css'%}" rel="stylesheet" type="text/css" id="dark-style" />-->

<!--    </head>-->

<!--    <body class="authentication-bg" data-layout-config='{"darkMode":false}'>-->

<!--        <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">-->
<!--            <div class="container">-->
<!--                <div class="row justify-content-center">-->
<!--                    <div class="col-xxl-4 col-lg-5">-->
<!--                        <div class="card">-->

<!--                            &lt;!&ndash; Logo &ndash;&gt;-->
<!--                            <div class="card-header pt-4 pb-4 text-center bg-primary">-->
<!--                                <a href="">-->
<!--                                    <span><img src="{% static 'images/TES Canada Logo_PNG.png' %}" alt="" height="64"></span>-->
<!--                                </a>-->
<!--                            </div>-->

<!--                            <div class="card-body p-4">-->

<!--                                <div class="text-center w-75 m-auto">-->
<!--                                    <h4 class="text-dark-50 text-center mt-0 fw-bold">Reset Password</h4>-->
<!--                                <h4 class="text-center mt-0 fw-bold" style="color:#a62802">{{ msg }}</h4>-->
<!--                                    <p class="text-muted mb-4">Enter your email address.</p>-->
<!--                                </div>-->

<!--                                <form method="POST">-->
<!--                                  {% csrf_token %}-->
<!--&lt;!&ndash;                                    <div class="mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <label for="emailaddress" class="form-label">Email address</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <input class="form-control" name="username" type="text" id="" required="" placeholder="Enter your email">&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->

<!--    {{ form.as_p }}-->


<!--                                    <div class="mb-3 mb-0 text-center">-->

<!--                                        <button class="btn btn-primary" type="submit"> Log In </button>-->
<!--                                    </div>-->

<!--                                </form>-->
<!--                            </div> &lt;!&ndash; end card-body &ndash;&gt;-->
<!--                        </div>-->
<!--                        &lt;!&ndash; end card &ndash;&gt;-->

<!--                        <div class="row mt-3">-->
<!--                            <div class="col-12 text-center">-->

<!--                            </div> &lt;!&ndash; end col &ndash;&gt;-->
<!--                        </div>-->
<!--                        &lt;!&ndash; end row &ndash;&gt;-->

<!--                    </div> &lt;!&ndash; end col &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash; end row &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; end container &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; end page &ndash;&gt;-->

<!--        <footer class="footer footer-alt">-->
<!-- <script>document.write(new Date().getFullYear())</script> © TESCANADA - Tescan.com-->
<!--        </footer>-->

<!--        &lt;!&ndash; bundle &ndash;&gt;-->
<!--        <script src="assets/js/vendor.min.js"></script>-->
<!--        <script src="assets/js/app.min.js"></script>-->
<!--        <script>-->
<!--            function togglePassword(){-->
<!--              var passwordInput = document.getElementById('password');-->
<!--              if(passwordInput.type === 'text')-->
<!--                passwordInput.type = 'password'-->
<!--            else-->
<!--                passwordInput.type = 'text'-->
<!--            }-->
<!--        </script>-->
<!--    </body>-->
<!--</html>-->


<h1>Trouble Signing In?<br>
    <span>request a password reset, and we will have you up again..</span>
</h1>
<form method='post'>
    {%csrf_token%}
    {{form}}
    <input type="submit" value="forgotten password" class="submit-btn">
</form>

<small class="text-muted">
    try signing in again? <a class="ml-2" href="{% url 'login' %}">Log Into Your Account</a>
</small>

