<!DOCTYPE html>
{% load static %}
    <html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Tescan | </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico'%}">

        <!-- third party css -->
        <link href="{% static 'assets/css/vendor/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/vendor/dataTables.bootstrap4.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/vendor/responsive.bootstrap4.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/vendor/buttons.bootstrap4.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/vendor/select.bootstrap4.css'%}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- third party css end -->
        <link href="{% static 'assets/css/vendor/jquery-jvectormap-1.2.2.css'%}" rel="stylesheet" type="text/css" />     
        <!-- App css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/app-creative.min.css' %}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{% static 'assets/css/app-creative-dark.min.css' %}" rel="stylesheet" type="text/css" id="dark-style" />
        <link rel="stylesheet" href="{% static 'css/tag.css' %}">
        <link href="{% static 'assets/css/vendor/dataTables.bootstrap4.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/vendor/responsive.bootstrap4.css'%}" rel="stylesheet" type="text/css" />
    <style>
    a.disabled { 
    pointer-events: none;
    color: rgba(0,0,128,0.5);
}


</style>
    </head>

    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": false}'>
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">

                <!-- LOGO -->
                <a style="margin:10px 0;" href="{% url 'training:trainpanel_' %}" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="{% static 'images/TES Canada Logo_PNG.png' %}" alt="" height="60">
                    </span>
                    <span class="logo-sm">
                        <img src="{% static 'images/TES Canada Logo_PNG.png' %}" alt="" height="60">
                    </span>
                </a>
<br>
                <!-- LOGO -->
                <a href="{% url 'training:trainpanel_' %}" class="logo text-center logo-dark">
                    <span class="logo-lg">
                        <img src="{% static 'images/TES Canada Logo_PNG.png' %}" alt="" height="48">
                    </span>
                    <span class="logo-sm">
                        <img src="{% static 'images/TES Canada Logo_PNG.png' %}" alt="" height="48">
                    </span>
                </a>
    
                <div class="h-100" id="leftside-menu-container" data-simplebar>

                    <!--- Sidemenu -->
                    <ul class="side-nav">
                    {% if adminStatus %}
                        <li class="side-nav-title side-nav-item">Navigation </li>
    
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarDashboards" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                                <i class="uil-home-alt"></i>
                                <span class="badge bg-success float-end">4</span>
                                <span> Dashboards </span>
                            </a>
                            <div class="collapse" id="sidebarDashboards">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="{% url 'map:map_' %}">Map</a>
                                    </li>
                                    <li>
                                        <a href="dashboard-crm.html" class="disabled">CRM</a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="disabled">Ecommerce</a>
                                    </li>
                                    <li>
                                        <a href="dashboard-projects.html" class="disabled">Projects</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
    
                        <li class="side-nav-title side-nav-item">Apps</li>
    
                        <li class="side-nav-item">
                            <a href="{% url 'tescalender:calendar_' %}" class="side-nav-link">
                                <i class="uil-calender"></i>
                                <span> Calendar </span>
                            </a>
                        </li>
  <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarContact" aria-expanded="false" aria-controls="sidebarEcommerce" class="side-nav-link">
                                <i class="uil-store"></i>
                                <span> Contacts </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="sidebarContact">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="{% url 'contacts:adminmessagelist_' %}">Inbox</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'contacts:newcontact_' %}">New Message</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'contacts:adminoutbox_' %}">Outbox</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'contacts:adminarchived_' %}">Archive</a>
                                    </li>


                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item">
                            <a href="apps-chat.html" onclick="return false;" class="side-nav-link disabled">
                                <i class="dripicons-graduation"></i>
                                <span> Certifications </span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="apps-chat.html" class="side-nav-link disabled">
                                <i class=" dripicons-bookmarks"></i>
                                <span> Examination </span>
                            </a>
                        </li>    
                        <li class="side-nav-item">
                            <a href="apps-chat.html" class="side-nav-link disabled">
                                <i class="uil-comments-alt"></i>
                                <span> Accountancy </span>
                            </a>
                        </li>                      

    
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarEcommerce" aria-expanded="false" aria-controls="sidebarEcommerce" class="side-nav-link">
                                <i class="uil-store"></i>
                                <span> Training </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="sidebarEcommerce">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="{% url 'training:canlist_' %}">Candidate List</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'training:newcandidate_' %}">New Candidate</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'training:event_' %}">Events</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'training:product_' %}">Products</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'training:country_' %}">Countries</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'training:location_' %}">Locations</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'training:lecturer_' %}">Lecturers</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'training:category_' %}">Forms Category</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'training:guideline_' %}">Forms Guideline</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </li>
    
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarEmail" aria-expanded="false" aria-controls="sidebarEmail" class="side-nav-link disabled">
                                <i class="uil-envelope"></i>
                                <span> Email </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="sidebarEmail">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="apps-email-inbox.html">Inbox</a>
                                    </li>
                                    <li>
                                        <a href="apps-email-read.html">Read Email</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
    
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarProjects" aria-expanded="false" aria-controls="sidebarProjects" class="side-nav-link disabled">
                                <i class="uil-briefcase"></i>
                                <span> Projects </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="sidebarProjects">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="apps-projects-list.html">List</a>
                                    </li>
                                    <li>
                                        <a href="apps-projects-details.html">Details</a>
                                    </li>
                                    <li>
                                        <a href="apps-projects-gantt.html">Gantt <span class="badge rounded-pill badge-light-lighten text-light font-10 float-end">New</span></a>
                                    </li>
                                    <li>
                                        <a href="apps-projects-add.html">Create Project <span class="badge rounded-pill badge-success-lighten font-10 float-end">New</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
 <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarMultiLevel" aria-expanded="false" aria-controls="sidebarMultiLevel" class="side-nav-link">
                                <i class="uil-folder-plus"></i>
                                <span> Registration</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="sidebarMultiLevel">
                                <ul class="side-nav-second-level">
                                                <li>
                                                    <a href="{% url 'forms:formmap_' %}">Form Map</a>
                                                </li>
                                    <li class="side-nav-item">
                                        <a data-bs-toggle="collapse" href="#sidebarSecondLevel" aria-expanded="false" aria-controls="sidebarSecondLevel">
                                            <span> Standard Forms</span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <div class="collapse" id="sidebarSecondLevel">
                                            <ul class="side-nav-third-level">
                                 <li>
                        <a href="{% url 'forms:allenrolmentform_' %}">All Enrolment Forms</a>
                     </li>
                                                <li>
                                                    <a href="{% url 'forms:jaegertofdl2_' %}">TWI Enrolment Form</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'forms:alltwitrainingfeed_' %}">All TWI Training Feedback Form</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'forms:newtwitrainingfeed_' %}">TWI Training Feedback Form</a>
                                                </li>

                                                <li>
                                                    <a href="{% url 'forms:alltwiexamfeed_' %}">All TWI Exam Feedback Form</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'forms:newtwiexamfeed_' %}">TWI Exam Feedback Form</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </li>
                                    <li class="side-nav-item">
                                        <a data-bs-toggle="collapse" href="#sidebarSecondLevelB" aria-expanded="false" aria-controls="sidebarSecondLevel">
                                            <span> BGAS Forms</span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <div class="collapse" id="sidebarSecondLevelB">
                                            <ul class="side-nav-third-level">
                                 <li>
                                              <li>
                                                    <a href="{% url 'forms:allbgasform_' %}">All BGAS Experience Forms</a>
                                                </li>
                                              <li>
                                                    <a href="{% url 'forms:bgasexpform_' %}">BGAS Experience Form</a>
                                                </li>   
                     </li>
                                                                           
                                            </ul>
                                        </div>
                                    </li>
          <li class="side-nav-item">
                                        <a data-bs-toggle="collapse" href="#sidebarSecondLevelBB" aria-expanded="false" aria-controls="sidebarSecondLevel">
                                            <span> PAUT L2 PCN Forms</span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <div class="collapse" id="sidebarSecondLevelBB">
                                            <ul class="side-nav-third-level">
                                 <li>
                                               <li>
                                                    <a href="{% url 'forms:allpslform_' %}">All PSL-30_Log Forms</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'forms:psl30log_' %}">PSL-30_Log of experience</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'forms:psl57b_' %}">PSL-57B</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'forms:allpsl57b_' %}">All PSL-57B Forms</a>
                                                </li>
                                                 <li>
                                                    <a href="{% url 'forms:bgasinitailform_' %}">PSL-57A_Initial exam application</a>
                                                </li>


                     </li>



                                            </ul>
                                        </div>
                                    </li>


                   <li class="side-nav-item">
                                        <a data-bs-toggle="collapse" href="#sidebarSecondLevelBBS" aria-expanded="false" aria-controls="sidebarSecondLevel">
                                            <span> NDT Forms</span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <div class="collapse" id="sidebarSecondLevelBBS">
                                            <ul class="side-nav-third-level">
                                 <li>


                                                <li>
                                                    <a href="{% url 'forms:allndt15expver_' %}">ALl NDT 15A - Experience verification</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'forms:ndt15expver_' %}">NDT 15A - Experience verification NDT</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'forms:allndtcovid19_' %}">All Covid 19 Form</a>
                                                </li>                                                <li>
                                                    <a href="{% url 'forms:ndtcovid_' %}">Covid 19 Form</a>
                                                </li>


                     </li>



                                            </ul>
                                        </div>
                                    </li>


                   <li class="side-nav-item">
                                        <a data-bs-toggle="collapse" href="#sidebarSecondLevelBBSo" aria-expanded="false" aria-controls="sidebarSecondLevel">
                                            <span> TES-TES-FRM </span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <div class="collapse" id="sidebarSecondLevelBBSo">
                                            <ul class="side-nav-third-level">
                                 <li>


                                                <li>
                                                    <a href="{% url 'forms:alltesfrmexamattend_' %}">All TES-TES-FRM-008-00, Examination Attendance Form</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'forms:tesfrmexamattend_' %}">TES-TES-FRM-008-00, Examination Attendance Form </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'forms:alllecfedform_' %}">All LECTURER FEEDBACK FORM </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'forms:newlecfedform_' %}">LECTURER FEEDBACK FORM</a>
                                                </li>

                                          <li>
                                                    <a href="{% url 'forms:alltrainingatt_' %}">ALL TRAINING ATTENDANCE FORM</a>
                                                </li>                                                <li>
                                                    <a href="{% url 'forms:newtrainingatt_' %}">TRAINING ATTENDANCE FORM</a>
                                                </li>
                     </li>



                                            </ul>
                                        </div>
                                    </li>



                   <li class="side-nav-item">
                                        <a data-bs-toggle="collapse" href="#sidebarSecondLevelBBSV" aria-expanded="false" aria-controls="sidebarSecondLevel">
                                            <span>TWI Vision Test</span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <div class="collapse" id="sidebarSecondLevelBBSV">
                                            <ul class="side-nav-third-level">
                                 <li>


                                                <li>
                                                    <a href="{% url 'forms:newvisiontest_' %}">New Record</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'forms:allisiontest_' %}">All Vision Test</a>
                                                </li>

                     </li>




                                            </ul>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </li>
    
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarTasks" aria-expanded="false" aria-controls="sidebarTasks" class="side-nav-link ">
                                <i class="uil-clipboard-alt"></i>
                                <span> Administration </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="sidebarTasks">
                                <ul class="side-nav-second-level">
                                    <li>
                                        <a href="{% url 'forms:all_' %}">All Forms</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'forms:newform_' %}">New Form</a>
                                    </li>
                              
                                </ul>
                            </div>
                        </li>
    

                    {% endif %}
    

                    <!-- end Help Box -->
                    <!-- End Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

    {% block content %}


    {% endblock %}
                    <!-- Footer Start -->
                    <footer class="footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <script>document.write(new Date().getFullYear())</script> © TESCANADA - Tescan.com
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-end footer-links d-none d-md-block">
                                        <a href="javascript: void(0);">About</a>
                                        <a href="javascript: void(0);">Support</a>
                                        <a href="javascript: void(0);">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                    <!-- end Footer -->
    
                </div>
    
                <!-- ============================================================== -->
                <!-- End Page content -->
                <!-- ============================================================== -->
    
    
            </div>
            <!-- END wrapper -->
    
            <!-- Right Sidebar -->
            <div class="end-bar">
    
                <div class="rightbar-title">
                    <a href="javascript:void(0);" class="end-bar-toggle float-end">
                        <i class="dripicons-cross noti-icon"></i>
                    </a>
                    <h5 class="m-0">Settings</h5>
                </div>
    
                <div class="rightbar-content h-100" data-simplebar>
    
                    <div class="p-3">
                        <div class="alert alert-warning" role="alert">
                            <strong>Customize </strong> the overall color scheme, layout width, etc.
                        </div>
    
                        <!-- Settings -->
                        <h5 class="mt-3">Color Scheme</h5>
                        <hr class="mt-1" />
    
                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" name="color-scheme-mode" value="light"
                                id="light-mode-check" checked />
                            <label class="form-check-label" for="light-mode-check">Light Mode</label>
                        </div>
    
                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" name="color-scheme-mode" value="dark"
                                id="dark-mode-check" />
                            <label class="form-check-label" for="dark-mode-check">Dark Mode</label>
                        </div>
    
                        <!-- Width -->
                        <h5 class="mt-4">Width</h5>
                        <hr class="mt-1" />
                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" name="width" value="fluid" id="fluid-check" checked />
                            <label class="form-check-label" for="fluid-check">Fluid</label>
                        </div>
                        <div class="form-check form-switch mb-1">
                            <input type="checkbox" class="form-check-input" name="width" value="boxed" id="boxed-check" />
                            <label class="form-check-label" for="boxed-check">Boxed</label>
                        </div>
    
    
                        <div class="d-grid mt-4">
                            <button class="btn btn-primary" id="resetBtn">Reset to Default</button>

                        </div>
                    </div> <!-- end padding-->
    
                </div>
            </div>
    
            <div class="rightbar-overlay"></div>
            <!-- /End-bar -->
    
            <!-- bundle -->
            <script src="{% static 'assets/js/vendor.min.js'%}"></script>
            <script src="{% static 'assets/js/app.min.js'%}"></script>
    
            <!-- third party js -->
            <script src="{% static 'assets/js/vendor/apexcharts.min.js'%}"></script>
            <script src="{% static 'assets/js/vendor/jquery-jvectormap-1.2.2.min.js'%}"></script>
            <script src="{% static 'assets/js/vendor/jquery-jvectormap-world-mill-en.js'%}"></script>
            <!-- third party js ends -->
    


        <!-- third party js -->
        <script src="{% static 'assets/js/vendor/jquery.dataTables.min.js'%}"></script>
        <script src="{% static 'assets/js/vendor/dataTables.bootstrap4.js'%}"></script>
        <script src="{% static 'assets/js/vendor/dataTables.responsive.min.js'%}"></script>
        <script src="{% static 'assets/js/vendor/responsive.bootstrap4.min.js'%}"></script>
        <script src="{% static 'assets/js/vendor/dataTables.buttons.min.js'%}"></script>
        <script src="{% static 'assets/js/vendor/buttons.bootstrap4.min.js'%}"></script>
        <script src="{% static 'assets/js/vendor/buttons.html5.min.js'%}"></script>
        <script src="{% static 'assets/js/vendor/buttons.flash.min.js'%}"></script>
        <script src="{% static 'assets/js/vendor/buttons.print.min.js'%}"></script>
        <script src="{% static 'assets/js/vendor/dataTables.keyTable.min.js'%}"></script>
        <script src="{% static 'assets/js/vendor/dataTables.select.min.js'%}"></script>

<!-- Datatable Init js -->
<script src="assets/js/pages/demo.datatable-init.js"></script>
        <!-- third party js ends -->


<script src='https://code.jquery.com/ui/1.12.0/jquery-ui.min.js'></script>


        </body>
    </html>