<h3>Partial Sidebar</h3>




{% for item in sidebars %}
<li class="side-nav-item">
           <a data-bs-toggle="collapse" href="#{{ item.title }}" aria-expanded="false" aria-controls="sidebarEcommerce" class="side-nav-link">
               <i class="uil-store"></i>
               <span> {{ item.title }}</span>
               <span class="menu-arrow"></span>
           </a>
           <div class="collapse" id="{{ item.title }}">
               <ul class="side-nav-second-level">

                 {% for submenu1 in item.submenu.all %}
                   <li>
                       <a href="{{ submenu1.url }}">{{ submenu1.title }}</a>
                   </li>
                    {% endfor %}





               </ul>
           </div>
       </li>
{% endfor %}

<h5>============================</h5>
