<h3>Partial Sidebar</h3>

{% load href_maker %}


{% for item in sidebars %}
<li class="side-nav-item">
           <a data-bs-toggle="collapse" href="{{ item.href }}" aria-expanded="false" aria-controls="sidebarEcommerce" class="side-nav-link">
               <i class="uil-store"></i>
               <span> {{ item.title }}</span>
               <span class="menu-arrow"></span>
           </a>
           <div class="collapse" id="{{ item.href|href }}">
               <ul class="side-nav-second-level">

                 {% for submenu1 in item.submenu.all %}


                 {% if submenu1.submenu.all.count > 0  %}
                 <li class="side-nav-item">
                                      <a data-bs-toggle="collapse" href="{{submenu1.href}}" aria-expanded="false" aria-controls="sidebarTasks" class="side-nav-link ">
                                          <i class="uil-clipboard-alt"></i>
                                          <span> {{ submenu1.title }} </span>
                                          <span class="menu-arrow"></span>
                                      </a>
                                      <div class="collapse" id="{{submenu1.href|href}}">
                                          <ul class="side-nav-second-level">

                                            {% for submenu2 in submenu1.submenu.all %}



                                              {% if submenu2.submenu.all.count > 0  %}
                                              <li class="side-nav-item">
                                                                   <a data-bs-toggle="collapse" href="{{submenu2.href}}" aria-expanded="false" aria-controls="sidebarTasks" class="side-nav-link ">
                                                                       <i class="uil-clipboard-alt"></i>
                                                                       <span> {{ submenu2.title }} </span>
                                                                       <span class="menu-arrow"></span>
                                                                   </a>
                                                                   <div class="collapse" id="{{submenu2.href|href}}">
                                                                       <ul class="side-nav-second-level">

                                                                         {% for submenu3 in submenu2.submenu.all %}


                                                                           <li>
                                                                               <a href="{{submenu3.url}}">{{submenu3.title}}</a>
                                                                           </li>

                                                                       {% endfor %}


                                                                       </ul>
                                                                   </div>
                                                               </li>
                                                 <li>

                                              {% elif submenu2.submenu.all.count == 0 %}


                                                <li>
                                                    <a href="{{ submenu2.url }}">{{ submenu2.title }}</a>
                                                </li>


                                              {% endif %}
                                          {% endfor %}


                                          </ul>
                                      </div>
                                  </li>
                    <li>

                 {% elif submenu1.submenu.all.count == 0 %}


                   <li>
                       <a href="{{ submenu1.url }}">{{ submenu1.title }}</a>
                   </li>

                  {% endif %}
      {% endfor %}





               </ul>
           </div>
       </li>
{% endfor %}

<h5>============================</h5>
