{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--====== SEARCH BOX PART START ======-->

    <div class="search-box">
        <div class="serach-form">
            <div class="closebtn">
                <span></span>
                <span></span>
            </div>
            <form action="#">
                <input type="text" placeholder="Search by keyword">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div> <!-- serach form -->
    </div>

    <!--====== SEARCH BOX PART ENDS ======-->

    <!--====== PAGE BANNER PART START ======-->

    <section id="page-banner" class="pt-105 pb-130 bg_cover" data-overlay="8" style="background-image: url(images/page-banner-3.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>Training Panel</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">training</li>
                            </ol>
                        </nav>
                    </div> <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== PAGE BANNER PART ENDS ======-->

    <!--====== TEACHERS PART START ======-->

    <section id="teachers-singel" class="pt-70 pb-120 gray-bg">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-12">
                    <div class="teachers-right mt-50">
                        <ul class="nav nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a id="courses-tab" data-toggle="tab" href="#courses" role="tab" aria-controls="courses" aria-selected="false">Candidate profiles</a>
                            </li>
                            <li class="nav-item">
                                <a id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Product</a>
                            </li>
                            <li class="nav-item">
                                <a id="event-tab" data-toggle="tab" href="#event" role="tab" aria-controls="reviews" aria-selected="false">Training Events</a>
                            </li>
                            <li class="nav-item">
                                <a id="lecturers-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Lecturers</a>
                            </li>
                            <li class="nav-item">
                                <a id="countries-tab" data-toggle="tab" href="#countries" role="tab" aria-controls="countries" aria-selected="false">Countries</a>
                            </li>
                            <li class="nav-item">
                                <a id="location-tab" data-toggle="tab" href="#location" role="tab" aria-controls="reviews" aria-selected="false">Locations</a>
                            </li>
                        </ul> <!-- nav -->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                <div class="dashboard-cont">
                                    <div class="singel-dashboard pt-40">
                                        <h5>Incoming Event</h5>
                                        <div class="panel panel-primary filterable">

                                            <table class="table">
                                                <thead>
                                                    <tr class="filters">
                                                        <th><input type="text" class="form-control" placeholder="#" disabled></th>
                                                        <th><input type="text" class="form-control" placeholder="Title" disabled></th>
                                                        <th><input type="text" class="form-control" placeholder="Product" disabled></th>
                                                        <th><input type="text" class="form-control" placeholder="Country" disabled></th>
                                                        <th><input type="text" class="form-control" placeholder="Start Data" disabled></th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                      {% for item in event_list %}
                                                      <tr>
                                                        <td>{{item.id}}</td>
                                                        <td>{{item.name}}</td>
                                                        <td>{{item.product}}</td>
                                                        <td>{{item.country}}</td>
                                                        <td>{{item.start_date}}</td>
                                    </tr>
                                                        {% endfor %}


                                                </tbody>
                                            </table>
                                        </div>
                                    </div> <!-- singel dashboard -->
                                    <div class="singel-dashboard pt-40">
                                        <h5>Summary</h5>

                                      </div><!--/row-->
                                      <hr>
                                      <div class="row">
                                        <div class="col-md-12">
                                            <div id="area-example" style="height: 300px;"></div>
                                        </div>
                                        <div class="col-md-12">
                                            <div id="line-example" style="height: 300px;"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div id="donut-example" style="height: 250px;"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div id="bar-example" style="height: 250px;"></div>
                                        </div>
                                    </div> <!-- singel dashboard -->
                                    <div class="singel-dashboard pt-40">
                                        <h5>My Objective</h5>
                                        <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>
                                    </div> <!-- singel dashboard -->
                                </div> <!-- dashboard cont -->
                            </div>
                            <div class="tab-pane fade" id="courses" role="tabpanel" aria-labelledby="courses-tab">
                                <div class="courses-cont pt-20">
                                  
                                    <div class="row">
                                      <div class="container">
                              <!-- Start candidate table -->
                                        <div class="row">

                                          <div class="container">
                                            <div class="header_wrap">
                                              <div class="num_rows">
                                          
                                              <div class="form-group"> 	<!--		Show Numbers Of Rows 		-->
                                                 <select class  ="form-control" name="state" id="maxRows">
                                                   
                                                   
                                                   <option value="10">10</option>
                                                   <option value="15">15</option>
                                                   <option value="20">20</option>
                                                   <option value="50">50</option>
                                                   <option value="70">70</option>
                                                   <option value="100">100</option>
                                                  <option value="5000">Show ALL Rows</option>
                                                  </select>
                                                 
                                                </div>
                                              </div>
                                              <div class="tb_search">
                                      <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="form-control">
                                              </div>
                                            </div>
                                            <br>
                                      <table class="table table-striped table-class" id= "table-id">
                                        
                                        
                                      <thead>
                                      <tr>
                                        <th>ID</th>
                                          <th>Name</th>
                                          <th>Email</th>
                                          <th>Phone</th>
                                          
                                        </tr>
                                        </thead>
                                      <tbody>
                                        {% for item in candidate_list %}
                                        <tr>
                                          <td>{{item.tes_candidate_id}}</td>
                                          <td>{{item.name}}</td>
                                          <td>{{item.email}}</td>
                                          <td>{{item.phone}}</td>
                                 
                                        </tr>
                                       {% endfor %}
                                        
                                          <tbody>
                                      </table>
                                      
                                      <!--		Start Pagination -->
                                            <div class='pagination-container'>
                                              <nav>
                                                <ul class="pagination">
                                                 <!--	Here the JS Function Will Add the Rows -->
                                                </ul>
                                              </nav>
                                            </div>
                                            <div class="rows_count">Showing 11 to 20 of 91 entries</div>
                                      
                                      </div> <!-- 		End of Container -->
                                      
                                      
                                      
                                      <!--  Developed By Yasser Mas -->
                                      <!-- partial -->
                                        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
                                      <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
                                      
                                      </div>

                                       <!-- End table -->




                                        <br>
                                          <h2 class="well">Registration Form</h2>
                                          <br>
                                      	<div class="col-lg-12 well">
                                      	<div class="row">
                                      				<form method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                      					<div class="col-sm-12">
                                                  <div class="form-group" style="width:100%;">
                                                    <label>Username</label>
                                                    <input name='username' type="text" placeholder="Enter Phone Number Here.." class="form-control">
                                                  </div>
                                                  <br>
                                                  <div class="form-group">
                                                    <label>Password</label>
                                                    <input name='password' type="password" placeholder="Enter Phone Number Here.." class="form-control">
                                                  </div>
                                                  <br>
                                                  <div class="form-group">
                                                    <label>Re Type Password</label>
                                                    <input name='re-password' type="password" placeholder="Enter Phone Number Here.." class="form-control">
                                                  </div>
                                                  <br>
                                      						<div class="row">
                                      							<div class="col-sm-6 form-group">
                                      								<label>First Name</label>
                                      								<input name="first_name" type="text" placeholder="Enter First Name Here.." class="form-control">
                                      							</div>
                                      							<div class="col-sm-6 form-group">
                                      								<label>Last Name</label>
                                      								<input name='last_name' type="text" placeholder="Enter Last Name Here.." class="form-control">
                                      							</div>
                                      						</div>
                                                  <br>
                                      						<div class="form-group">
                                      							<label>Address</label>
                                      							<textarea name="address" placeholder="Enter Address Here.." rows="3" class="form-control"></textarea>
                                      						</div>
                                                  <br>
                                      						<div class="row">
                                      							<div class="col-sm-6 form-group">
                                      								<label>TWI Candidate ID</label>
                                      								<input name="twi_candidate_id" type="text" placeholder=""" class="form-control">
                                      							</div>
                                      							<div class="col-sm-6 form-group">
                                      								<label>Passport ID</label>
                                      								<input name="passport_id" type="text" placeholder=""" class="form-control">
                                      							</div>
                                                    <br>
                                      							<div class="col-sm-6 form-group">
                                      								<label>Sponsor Company</label>
                                      								<input name="sponsor_company" type="text" placeholder="" class="form-control">
                                      							</div>
                                      							<div class="col-sm-6 form-group">
                                      								<label>Customer ID</label>
                                      								<input name="customer_id" type="text" placeholder="" class="form-control">
                                      							</div>
<br>
                                      						</div>
                                      						<div class="row">
                                      							<div class="col-sm-6 form-group">
                                      								<label>City</label>
                                      								<input name="city" type="text" placeholder="" class="form-control">
                                      							</div>
                                      							<div class="col-sm-6 form-group">
                                      								<label>Country</label>
                                      								<input name="country" type="text" placeholder="" class="form-control">
                                      							</div>
                                      						</div>
                                                  <br>
                                      					<div class="form-group">
                                      						<label>Phone Number</label>
                                      						<input name="phone" type="text" placeholder="" class="form-control">
                                      					</div>
<br>
                                      					<div class="form-group">
                                      						<label>Email Address</label>
                                      						<input name='email' type="text" placeholder="" class="form-control">
                                      					</div>
                                                <br>                                 					<div class="form-group">
                                      						<label>Contact Number</label>
                                      						<input name='contact_number' type="text" placeholder="" class="form-control">
                                      					</div>
                                              <br>                                      					</div>                                      					<div class="form-group">
                                      						<label>Avatar</label>
                                      						<input name='photo' type="file" placeholder="" class="form-control">
                                                        		<br>			<label>Document 1</label>
                                      						<input name='document_1' type="file" placeholder="" class="form-control">

                                                    <br>    <label>Document 2</label>
                                      						<input name='document_2' type="file" placeholder="" class="form-control">

                                                        <br>					      <label>Document 3</label>
                                      						<input name='document_3' type="file" placeholder="" class="form-control">

                                                    <br>    <label>Document 4</label>
                                      						<input name='document_4' type="file" placeholder="" class="form-control">

                                                      <br>  					    <label>Document 5</label>
                                      						<input name='document_5' type="file" placeholder="" class="form-control">


                                                        	<br>				    <label>Document 6</label>
                                      						<input name='document_6' type="file" placeholder="" class="form-control">


                                                        	<br>				    <label>Document 7</label>
                                      						<input name='document_7' type="file" placeholder="" class="form-control">


                                                        	<br>				    <label>Document 8</label>
                                      						<input name='document_8' type="file" placeholder="" class="form-control">


                                                        			<br>		    <label>Document 9</label>
                                      						<input name='document_9' type="file" placeholder="" class="form-control">




                                      					</div>   <br>                                   					<div class="form-group">
                                      						<label>Note</label>
                                      						<textarea name='note' type="text" placeholder="" class="form-control"></textarea>
                                      					</div>
                                                <br>
                                                <br>
                                                <div class="form-group" style="text-align:center">
                                      					<button type="submit" name="new_can" class="btn btn-lg btn-info">Submit</button>
                                                </div>
                                      				</form>
                                      				</div>
                                      	</div>
                                      	</div>

                                    </div> <!-- row -->
                                </div> <!-- courses cont -->
                            </div>

                             <div class="tab-pane fade" id="countries" role="tabpanel" aria-labelledby="countries-tab">
                                <div class="courses-cont pt-20">
                                    <div class="row">
                                      <div class="container">
                                          <h2 class="well">Countries </h2>
                                          <br>
                                      	<div class="col-lg-12 well">
                                      	<div class="row">

                                        <div class="panel panel-primary filterable col-sm-12">

                                            <table class="table">
                                                <thead>
                                                    <tr class="filters">
                                                        <th><input type="text" class="form-control" placeholder="#" disabled></th>
                                                        <th><input type="text" class="form-control" placeholder="Country" disabled></th>


                                                    </tr>
                                                </thead>
                                                <tbody>

                                                      {% for item in country_list %}
                                                      <tr>
                                                        <td>{{item.id}}</td>
                                                        <td>{{item.name}}</td>

                                    </tr>
                                                        {% endfor %}


                                                </tbody>
                                            </table>
                                        </div>
                                        </div>
                                            <br>
                                      				<form method="POST" >
                                                {% csrf_token %}
                                      					<div class="col-sm-12">
                                                  <div class="form-group">
                                                    <label>Country:</label>
                                                    <input name='name' type="text" placeholder="country name" class="form-control">
                                                  </div>


                                                <br>
                                      					<button type="submit" name="cont_btn" class="btn btn-lg btn-info">save</button>
                                      					</div>
                                      				</form>
                                      				</div>
                                      	</div>
                                      	</div>

                                    </div> <!-- row -->
                                </div> <!-- countries cont -->


                                <div class="tab-pane fade" id="event" role="tabpanel" aria-labelledby="event-tab">
                                  <div class="courses-cont pt-20">
                                      <div class="row">
                                        <div class="container">
                                            <h2 class="well">Training Event </h2>
                                            <br>
                                          <div class="col-lg-12 well">
                                          <div class="row">
  
                                          <div class="panel panel-primary filterable col-sm-12">
  
                                              <table class="table">
                                                  <thead>
                                                      <tr class="filters">
                                                          <th><input type="text" class="form-control" placeholder="#" disabled></th>
                                                          <th><input type="text" class="form-control" placeholder="Name" disabled></th>
                                                          <th><input type="text" class="form-control" placeholder="Product" disabled></th>
                                                          <th><input type="text" class="form-control" placeholder="Country" disabled></th>
                                                          <th><input type="text" class="form-control" placeholder="Lecturers" disabled></th>
                                                          <th><input type="text" class="form-control" placeholder="Start Date" disabled></th>
                                                          <th><input type="text" class="form-control" placeholder="Announcement Type" disabled></th>
  
  
                                                      </tr>
                                                  </thead>
                                                  <tbody>
  
                                                        {% for item in event_list %}
                                                        <tr>
                                                          <td>{{item.id}}</td>
                                                          <td>{{item.name}}</td>
                                                          <td>{{item.product}}</td>
                                                          <td>{{item.country}}</td>
                                                          <td>{{item.lecturers}}</td>
                                                          <td>{{item.start_date}}</td>
                                                          <td>{{item.announcement_type}}</td>
  
                                      </tr>
                                                          {% endfor %}
  
  
                                                  </tbody>
                                              </table>
                                          </div>
                                          </div>
                                              <br>
                                                <form method="POST" >
                                                  {% csrf_token %}
                                                  <div class="col-sm-12">

                                                    <div class="form-group">
                                                      <label>Country:</label>
                                                      <input name='name' type="text" placeholder="country name" class="form-control">
                                                    </div>
                                                    <br>
                                                    <div class="form-group">
                                                      <label>Product:</label>
                                                      <input name='name' type="text" placeholder="Product" class="form-control">
                                                    </div>  
                                                    <br>
                                                                                                      <div class="form-group">
                                                      <label>Lecturers:</label>
                                                      <input name='name' type="text" placeholder="lecturers" class="form-control">
                                                    </div> 
                                                    <br> 
                                                      <label>Start Date:</label>
                                                      <input name='name' type="text" placeholder="Start Date" class="form-control">
                                                    </div>
                                                    <br>
                                                      <label>Announcement Type:</label>
                                                      <input name='name' type="text" placeholder="Announcement Type" class="form-control">
                                                    </div>
                                                    <br>

  
  
                                                  <br>
                                                  <button type="submit" name="cont_btn" class="btn btn-lg btn-info">save</button>
                                                  </div>
                                                </form>
                                                </div>
                                          </div>
                                          </div>
  
                                      </div> <!-- row -->
                                  </div> <!-- Event cont -->
  
                                    <div class="tab-pane fade" id="location" role="tabpanel" aria-labelledby="location-tab">
                                <div class="courses-cont pt-20">
                                    <div class="row">
                                      <div class="container">
                                          <h2 class="well">Location </h2>
                                          <br>
                                      	<div class="col-lg-12 well">
                                      	<div class="row">

                                        <div class="panel panel-primary filterable col-sm-12">

                                            <table class="table" class="col-sm-12">
                                                <thead>
                                                    <tr class="filters">
                                                        <th><input type="text" class="form-control" placeholder="#" disabled></th>
                                                        <th><input type="text" class="form-control" placeholder="Location" disabled></th>
                                                        <th><input type="text" class="form-control" placeholder="Country" disabled></th>


                                                    </tr>
                                                </thead>
                                                <tbody>

                                                      {% for item in location_list %}
                                                      <tr>
                                                        <td>{{item.id}}</td>
                                                        <td>{{item.name}}</td>
                                                        <td>{{item.country}}</td>

                                    </tr>
                                                        {% endfor %}


                                                </tbody>
                                            </table>
                                        </div>
                                        </div>
                                            <br>
                                              <div style="clear:both" ></div>
                                            <br>
                                      				<form method="POST" >
                                                {% csrf_token %}
        <div class="col-sm-12">
              <label>Country</label><br>
<select name="country" class="col-sm-12">
     {% for item in country_list %}
  <option value="{{item.id}}">{{item.name}}</option>
  {% endfor %}

</select>

</div>


                                                        <br>
                                                        <br>
                                                        <br>
                                      					<div class="col-sm-12">
                                                  <div class="form-group">
                                                    <label>Location</label>
                                                    <input name='name' type="text" placeholder="location name" class="form-control">
                                                  </div>


                                                <br>
                                      					<button type="submit" name="loc_btn" class="btn btn-lg btn-info">save</button>
                                      					</div>
                                      				</form>
                                      				</div>
                                      	</div>
                                      	</div>

                                    </div> <!-- row -->
                                </div> <!-- location cont -->
                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                <div class="reviews-cont">
                                    <div class="title">
                                        <h6>Products</h6>
                                    </div>
                                    <table class="table" class="col-sm-12">
                                        <thead>
                                            <tr class="filters">
                                                <th><input type="text" class="form-control" placeholder="#" disabled></th>
                                                <th><input type="text" class="form-control" placeholder="Name" disabled></th>
                                                <th><input type="text" class="form-control" placeholder="Code" disabled></th>
                                                <th><input type="text" class="form-control" placeholder="Price" disabled></th>


                                            </tr>
                                        </thead>
                                        <tbody>

                                              {% for item in product_list %}
                                              <tr>
                                                <td>{{item.id}}</td>
                                                <td>{{item.name}}</td>
                                                <td>{{item.code}}</td>
                                                <td>{{item.price}}</td>

                            </tr>
                                                {% endfor %}


                                        </tbody>
                                    </table>

555
<form method="POST" >
  {% csrf_token %}
  <div class="col-sm-12">
    <div class="form-group">
      <label>Name:</label>
      <input name='name' type="text" placeholder="name" class="form-control">
    </div>
    <br>
    <div class="form-group">
      <label>Code:</label>
      <input name='code' type="text" placeholder="Code" class="form-control">
    </div>
    <br>
    <div class="form-group">
      <label>Price:</label>
      <input name='price' type="text" placeholder="Price" class="form-control">
    </div>


  <br>
  <button type="submit" name="pro_btn" class="btn btn-lg btn-info">save</button>
  </div>
</form>
                                    <div class="reviews-form">

                                    </div>
                                </div> <!-- reviews cont -->
                            </div>
                        </div> <!-- tab content -->
                    </div> <!-- teachers right -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== EVENTS PART ENDS ======-->

  {% endblock %}
