{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--====== SEARCH BOX PART START ======-->

    <div class="search-box">
        <div class="serach-form">
            <div class="closebtn">
                <span></span>
                <span></span>
            </div>
            <form action="#">
                <input type="text" placeholder="Search by keyword">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div> <!-- serach form -->
    </div>

    <!--====== SEARCH BOX PART ENDS ======-->

    <!--====== PAGE BANNER PART START ======-->

    <section id="page-banner" class="pt-105 pb-130 bg_cover" data-overlay="8" style="background-image: url(images/page-banner-3.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>Training Panel</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">training</li>
                            </ol>
                        </nav>
                    </div> <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== PAGE BANNER PART ENDS ======-->

    <!--====== TEACHERS PART START ======-->

    <section id="teachers-singel" class="pt-70 pb-120 gray-bg">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-12">
                    <div class="teachers-right mt-50">
                        <ul class="nav nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a id="courses-tab" data-toggle="tab" href="#courses" role="tab" aria-controls="courses" aria-selected="false">Candidate profiles</a>
                            </li>
                            <li class="nav-item">
                                <a id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Product</a>
                            </li>
                            <li class="nav-item">
                                <a id="training_events" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Training Events</a>
                            </li>
                            <li class="nav-item">
                                <a id="lecturers-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Lecturers</a>
                            </li>
                            <li class="nav-item">
                                <a id="countries-tab" data-toggle="tab" href="#countries" role="tab" aria-controls="countries" aria-selected="false">Countries</a>
                            </li>
                            <li class="nav-item">
                                <a id="location-tab" data-toggle="tab" href="#location" role="tab" aria-controls="reviews" aria-selected="false">Locations</a>
                            </li>
                        </ul> <!-- nav -->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                <div class="dashboard-cont">
                                    <div class="singel-dashboard pt-40">
                                        <h5>Incoming Event</h5>
                                        <div class="panel panel-primary filterable">

                                            <table class="table">
                                                <thead>
                                                    <tr class="filters">
                                                        <th><input type="text" class="form-control" placeholder="#" disabled></th>
                                                        <th><input type="text" class="form-control" placeholder="Title" disabled></th>
                                                        <th><input type="text" class="form-control" placeholder="Product" disabled></th>
                                                        <th><input type="text" class="form-control" placeholder="Country" disabled></th>
                                                        <th><input type="text" class="form-control" placeholder="Start Data" disabled></th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                      {% for item in event_list %}
                                                      <tr>
                                                        <td>{{item.id}}</td>
                                                        <td>{{item.name}}</td>
                                                        <td>{{item.product}}</td>
                                                        <td>{{item.country}}</td>
                                                        <td>{{item.start_date}}</td>
                                    </tr>
                                                        {% endfor %}


                                                </tbody>
                                            </table>
                                        </div>
                                    </div> <!-- singel dashboard -->
                                    <div class="singel-dashboard pt-40">
                                        <h5>Summary</h5>

                                      </div><!--/row-->
                                      <hr>
                                      <div class="row">
                                        <div class="col-md-12">
                                            <div id="area-example" style="height: 300px;"></div>
                                        </div>
                                        <div class="col-md-12">
                                            <div id="line-example" style="height: 300px;"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div id="donut-example" style="height: 250px;"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div id="bar-example" style="height: 250px;"></div>
                                        </div>
                                    </div> <!-- singel dashboard -->
                                    <div class="singel-dashboard pt-40">
                                        <h5>My Objective</h5>
                                        <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>
                                    </div> <!-- singel dashboard -->
                                </div> <!-- dashboard cont -->
                            </div>
                            <div class="tab-pane fade" id="courses" role="tabpanel" aria-labelledby="courses-tab">
                                <div class="courses-cont pt-20">
                                    <div class="row">
                                      <div class="container">
                                          <h2 class="well">Registration Form</h2>
                                          <br>
                                      	<div class="col-lg-12 well">
                                      	<div class="row">
                                      				<form method="POST" >
                                                {% csrf_token %}
                                      					<div class="col-sm-12">
                                                  <div class="form-group">
                                                    <label>Username</label>
                                                    <input name='username' type="text" placeholder="Enter Phone Number Here.." class="form-control">
                                                  </div>
                                                  <div class="form-group">
                                                    <label>Password</label>
                                                    <input name='password' type="password" placeholder="Enter Phone Number Here.." class="form-control">
                                                  </div>
                                                  <div class="form-group">
                                                    <label>Re Type Password</label>
                                                    <input name='re-password' type="password" placeholder="Enter Phone Number Here.." class="form-control">
                                                  </div>
                                      						<div class="row">
                                      							<div class="col-sm-6 form-group">
                                      								<label>First Name</label>
                                      								<input name="first_name" type="text" placeholder="Enter First Name Here.." class="form-control">
                                      							</div>
                                      							<div class="col-sm-6 form-group">
                                      								<label>Last Name</label>
                                      								<input name='last_name' type="text" placeholder="Enter Last Name Here.." class="form-control">
                                      							</div>
                                      						</div>
                                      						<div class="form-group">
                                      							<label>Address</label>
                                      							<textarea placeholder="Enter Address Here.." rows="3" class="form-control"></textarea>
                                      						</div>
                                      						<div class="row">
                                      							<div class="col-sm-4 form-group">
                                      								<label>TWI Candidate ID</label>
                                      								<input name="twi_candidate_id" type="text" placeholder="Enter City Name Here.." class="form-control">
                                      							</div>
                                      							<div class="col-sm-4 form-group">
                                      								<label>Country</label>
                                      								<input type="text" placeholder="Enter State Name Here.." class="form-control">
                                      							</div>

                                      						</div>
                                      						<div class="row">
                                      							<div class="col-sm-6 form-group">
                                      								<label>Title</label>
                                      								<input type="text" placeholder="Enter Designation Here.." class="form-control">
                                      							</div>
                                      							<div class="col-sm-6 form-group">
                                      								<label>Company</label>
                                      								<input type="text" placeholder="Enter Company Name Here.." class="form-control">
                                      							</div>
                                      						</div>
                                      					<div class="form-group">
                                      						<label>Phone Number</label>
                                      						<input type="text" placeholder="Enter Phone Number Here.." class="form-control">
                                      					</div>

                                      					<div class="form-group">
                                      						<label>Email Address</label>
                                      						<input name='email' type="text" placeholder="Enter Email Address Here.." class="form-control">
                                      					</div>
                                                <br>
                                      					<button type="submit" name="new_can" class="btn btn-lg btn-info">Submit</button>
                                      					</div>
                                      				</form>
                                      				</div>
                                      	</div>
                                      	</div>

                                    </div> <!-- row -->
                                </div> <!-- courses cont -->
                            </div>
                             <div class="tab-pane fade" id="countries" role="tabpanel" aria-labelledby="countries-tab">
                                <div class="courses-cont pt-20">
                                    <div class="row">
                                      <div class="container">
                                          <h2 class="well">Countries </h2>
                                          <br>
                                      	<div class="col-lg-12 well">
                                      	<div class="row">

                                        <div class="panel panel-primary filterable">

                                            <table class="table">
                                                <thead>
                                                    <tr class="filters">
                                                        <th><input type="text" class="form-control" placeholder="#" disabled></th>
                                                        <th><input type="text" class="form-control" placeholder="Country" disabled></th>


                                                    </tr>
                                                </thead>
                                                <tbody>

                                                      {% for item in country_list %}
                                                      <tr>
                                                        <td>{{item.id}}</td>
                                                        <td>{{item.name}}</td>

                                    </tr>
                                                        {% endfor %}


                                                </tbody>
                                            </table>
                                        </div>
                                        </div>
                                            <br>
                                      				<form method="POST" >
                                                {% csrf_token %}
                                      					<div class="col-sm-12">
                                                  <div class="form-group">
                                                    <label>Username</label>
                                                    <input name='name' type="text" placeholder="country name" class="form-control">
                                                  </div>


                                                <br>
                                      					<button type="submit" name="cont_btn" class="btn btn-lg btn-info">save</button>
                                      					</div>
                                      				</form>
                                      				</div>
                                      	</div>
                                      	</div>

                                    </div> <!-- row -->
                                </div> <!-- countries cont -->

                                    <div class="tab-pane fade" id="location" role="tabpanel" aria-labelledby="location-tab">
                                <div class="courses-cont pt-20">
                                    <div class="row">
                                      <div class="container">
                                          <h2 class="well">Location </h2>
                                          <br>
                                      	<div class="col-lg-12 well">
                                      	<div class="row">

                                        <div class="panel panel-primary filterable">

                                            <table class="table">
                                                <thead>
                                                    <tr class="filters">
                                                        <th><input type="text" class="form-control" placeholder="#" disabled></th>
                                                        <th><input type="text" class="form-control" placeholder="Location" disabled></th>
                                                        <th><input type="text" class="form-control" placeholder="Country" disabled></th>


                                                    </tr>
                                                </thead>
                                                <tbody>

                                                      {% for item in location_list %}
                                                      <tr>
                                                        <td>{{item.id}}</td>
                                                        <td>{{item.name}}</td>
                                                        <td>{{item.country}}</td>

                                    </tr>
                                                        {% endfor %}


                                                </tbody>
                                            </table>
                                        </div>
                                        </div>
                                            <br>
                                      				<form method="POST" >
                                                {% csrf_token %}
        <div class="col-sm-12">
<select name="cars" >
     {% for item in country_list %}
  <option value="{{item.name}}">{{item.name}}</option>
  {% endfor %}

</select>

</div>

                                                        <br>

                                      					<div class="col-sm-12">
                                                  <div class="form-group">
                                                    <label>Location</label>
                                                    <input name='name' type="text" placeholder="location name" class="form-control">
                                                  </div>


                                                <br>
                                      					<button type="submit" name="loc_btn" class="btn btn-lg btn-info">save</button>
                                      					</div>
                                      				</form>
                                      				</div>
                                      	</div>
                                      	</div>

                                    </div> <!-- row -->
                                </div> <!-- location cont -->
                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                <div class="reviews-cont">
                                    <div class="title">
                                        <h6>Student Reviews</h6>
                                    </div>
                                    <ul>
                                       <li>
                                           <div class="singel-reviews">
                                                <div class="reviews-author">
                                                    <div class="author-thum">
                                                        <img src="images/review/r-1.jpg" alt="Reviews">
                                                    </div>
                                                    <div class="author-name">
                                                        <h6>Bobby Aktar</h6>
                                                        <span>April 03, 2019</span>
                                                    </div>
                                                </div>
                                                <div class="reviews-description pt-20">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which.</p>
                                                    <div class="rating">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                        <span>/ 5 Star</span>
                                                    </div>
                                                </div>
                                            </div> <!-- singel reviews -->
                                       </li>
                                       <li>
                                           <div class="singel-reviews">
                                                <div class="reviews-author">
                                                    <div class="author-thum">
                                                        <img src="images/review/r-2.jpg" alt="Reviews">
                                                    </div>
                                                    <div class="author-name">
                                                        <h6>Humayun Ahmed</h6>
                                                        <span>April 13, 2019</span>
                                                    </div>
                                                </div>
                                                <div class="reviews-description pt-20">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which.</p>
                                                    <div class="rating">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                        <span>/ 5 Star</span>
                                                    </div>
                                                </div>
                                            </div> <!-- singel reviews -->
                                       </li>
                                       <li>
                                           <div class="singel-reviews">
                                                <div class="reviews-author">
                                                    <div class="author-thum">
                                                        <img src="images/review/r-3.jpg" alt="Reviews">
                                                    </div>
                                                    <div class="author-name">
                                                        <h6>Tania Aktar</h6>
                                                        <span>April 20, 2019</span>
                                                    </div>
                                                </div>
                                                <div class="reviews-description pt-20">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which.</p>
                                                    <div class="rating">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                        </ul>
                                                        <span>/ 5 Star</span>
                                                    </div>
                                                </div>
                                            </div> <!-- singel reviews -->
                                       </li>
                                    </ul>
                                    <div class="title pt-15">
                                        <h6>Leave A Comment</h6>
                                    </div>
                                    <div class="reviews-form">
                                        <form action="#">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-singel">
                                                            <input type="text" placeholder="Fast name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-singel">
                                                            <input type="text" placeholder="Last Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-singel">
                                                            <div class="rate-wrapper">
                                                                <div class="rate-label">Your Rating:</div>
                                                                <div class="rate">
                                                                    <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                    <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                    <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                    <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                    <div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-singel">
                                                            <textarea placeholder="Comment"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-singel">
                                                            <button type="button" class="main-btn">Post Comment</button>
                                                        </div>
                                                    </div>
                                                </div> <!-- row -->
                                            </form>
                                    </div>
                                </div> <!-- reviews cont -->
                            </div>
                        </div> <!-- tab content -->
                    </div> <!-- teachers right -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== EVENTS PART ENDS ======-->

  {% endblock %}
