{% extends "base.html" %}
{% load static %}
{% block content %}

                    <!-- Start Content-->
                    <div class="container-fluid">

                       <!-- start page title -->
                       <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">

                                </div>
                                <h4 class="page-title">Scheduler Report</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->


                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title"> </h4>


                                    <div class="tab-content">
                                        <div class="tab-pane show active" id="basic-datatable-preview">
{{report}}
                                        </div> <!-- end preview-->
                                        <br>
                                        <br>
                                        <br>




                                        <div class="tab-pane" id="basic-datatable-code">



                                            <pre class="mb-0">
                                                <span class="html escape">

                                                </span>
                                            </pre> <!-- end highlight-->
                                        </div> <!-- end preview code-->
                                    </div> <!-- end tab-content-->

                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                    <!-- end row-->


                    </div>
                    <!-- end row-->

                    </div>
                    <!-- container -->

                </div>
                <!-- content -->
                <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
                <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js'></script>
                <script>

                    </script>


                {% endblock %}