{% extends "base.html" %}
{% load static %}
{% load template_filters %}
{% block content %}
<style>
.drop-zone {
  max-width: 100%%;
  height: 300px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.BUTTON_MZQ {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 20px;
   font-weight: 100;
   padding: 5px 15px;
   margin:20px 5px 10px 5px;
   -webkit-box-shadow: 1px 1px 10px 0 #000000;
   -moz-box-shadow: 1px 1px 10px 0 #000000;
   box-shadow: 1px 1px 10px 0 #000000;
   text-shadow: 1px 1px 10px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_MZQ:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   text-decoration: none;
}

.aLink {
   background:#337FED ;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 20px;
   font-weight: 100;
   padding: 16px 15px;
   margin:5px 5px 10px 5px;
   -webkit-box-shadow: 1px 1px 10px 0 #000000;
   -moz-box-shadow: 1px 1px 10px 0 #000000;
   box-shadow: 1px 1px 10px 0 #000000;
   text-shadow: 1px 1px 10px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
.aLink:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   text-decoration: none;
   color:white;
}

</style>

<style type="text/css">
<!--
span.cls_004{font-family:"Calibri Bold",serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:"Calibri Bold",serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:"Calibri Bold",serif;font-size:9.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:"Calibri Bold",serif;font-size:9.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:"Calibri",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:"Calibri",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_027{font-family:"Calibri",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_027{font-family:"Calibri",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:"Calibri Bold",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_009{font-family:"Calibri Bold",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_010{font-family:"Calibri",serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_010{font-family:"Calibri",serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_011{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:"Calibri",serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_012{font-family:"Calibri",serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_013{font-family:"Calibri Bold",serif;font-size:8.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_013{font-family:"Calibri Bold",serif;font-size:8.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_028{font-family:"Calibri Bold",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: underline}
div.cls_028{font-family:"Calibri Bold",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_029{font-family:"Calibri Bold",serif;font-size:7.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: underline}
div.cls_029{font-family:"Calibri Bold",serif;font-size:7.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_016{font-family:"Calibri Bold",serif;font-size:11.1px;color:rgb(255,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_016{font-family:"Calibri Bold",serif;font-size:11.1px;color:rgb(255,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_014{font-family:"Calibri",serif;font-size:6.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_014{font-family:"Calibri",serif;font-size:6.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_017{font-family:"Calibri Bold",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_017{font-family:"Calibri Bold",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_018{font-family:"Calibri",serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_018{font-family:"Calibri",serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_019{font-family:"Calibri Italic",serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_019{font-family:"Calibri Italic",serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_006{font-family:"Calibri Bold",serif;font-size:10.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:"Calibri Bold",serif;font-size:10.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_030{font-family:"Calibri",serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_030{font-family:"Calibri",serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_020{font-family:"Calibri Bold",serif;font-size:10.0px;color:rgb(255,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_020{font-family:"Calibri Bold",serif;font-size:10.0px;color:rgb(255,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_021{font-family:"Calibri",serif;font-size:18.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_021{font-family:"Calibri",serif;font-size:18.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_031{font-family:"Calibri",serif;font-size:10.0px;color:rgb(5,98,193);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_031{font-family:"Calibri",serif;font-size:10.0px;color:rgb(5,98,193);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_026{font-family:"Calibri Italic",serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_026{font-family:"Calibri Italic",serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_025{font-family:"Calibri",serif;font-size:6.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_025{font-family:"Calibri",serif;font-size:6.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">

                    </ol>
                </div>


                <h4 class="page-title">TWI Training FeedbackForm</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content">
                        <form method="POST" onsubmit="return topFormValidate();">
                            {% csrf_token %}
                            <br>

                            <div style="visibility:hidden; text-align:center;"><span style="width:300px;"
                                                                                     id="topFormError"
                                                                                     class="alert alert-danger"></span>
                            </div>
                            <br>
                            <br>
                            <div class="row g-2">

                                <div class="mb-3 col-md-6">
                                    <label for="inputState" class="form-label">Candidate</label>
                                    <select name="canID" id="canID" class="form-select">
                                        <option value="{{candidate.id}} ">{{candidate.first_name}}
                                            {{candidate.middleName}}
                                            {{candidate.last_name}}
                                        </option>
                                        {% for item in candidates %}
                                        <option value="{{item.id}}">{{item.first_name}} {{item.middleName}}
                                            {{item.last_name}}
                                        </option>
                                        {% endfor %}

                                    </select>
                                    <div><span id="mainCanIDError" class="text-danger"></span></div>
                                </div>


                                <div class="mb-3 col-md-6">
                                    <label for="inputState" class="form-label">Event</label>
                                    <select name="eventID" id="eventID" class="form-select">
                                        <option value="">{{event.name}}</option>
                                        {% for item in events %}
                                        <option value="{{item.id}}">{{item.name}}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                                <div><span id="eventIDError" class="text-danger"></span></div>
                            </div>


                            <div class="row g-2">
                                <div class="mb-3 col-md-6">
                                    <label for="inputState" class="form-label">Category</label>
                                    <select name="categoryID" id="inputState" class="form-select">
                                        <option value="{{category.id}} ">{{category.name}}</option>
                                        {% for item in categories %}
                                        <option value="{{item.id}}">{{item.name}}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="inputState" class="form-label">Guideline Form</label>
                                    <select name="guidelineID" id="inputState2" class="form-select">
                                        <option value="{{guideline.id}} ">{{guideline.name}}</option>
                                        {% for item in guidelines %}
                                        <option value="{{item.id}}">{{item.name}}</option>
                                        {% endfor %}

                                    </select>

                                </div>
                            </div>


                            <div class="mb-3 col-md-12 text-center">
                                <button class="BUTTON_MZQ" type="submit">Generate</button>
                            </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    </form>


    <div class="col-12">

        <form method="POST"  name="formvalidate" onsubmit="return validate();">
            {% csrf_token %}
            <input type="hidden" id="mainCanID" value="{{candidate.id}}" name="mainCanID"/>
            <input type="hidden" id="mainEventID" value="{{event.id}}" name="eventID"/>
            <input type="hidden" value="{{event.formCategory_id}}" name="fomCatID"/>
            <input type="hidden" value="{{category.id}}" name="categoryID"/>
            <input type="hidden" value="{{guideline.id}}" name="guidelineID"/>

            <div style="clear:both"></div>
            <div class="mb-3 col-md-12 text-center">

        <div class="card" >
            <div class="card-body" >


                <div class="tab-content">
                form here
                    </div>
                </div>
                </div>


                <button name="mainForm" class="BUTTON_MZQ" style="height:40px; width:150px;" type="submit">Submit
                </button>
            </div>

        </form>

    </div>


</div> <!-- end tab-content-->

</div>
<!-- end card-body -->
</div>
<!-- end card-->
</div>
<!-- end col-->
</div>
<!-- end row -->

<!-- container -->

</div>
<!-- content -->
<!-- bundle -->
<script src="{% static 'assets/js/vendor.min.js' %}"></script>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script src="{% static 'js/forms/ndt15b/regex.js' %}" type="text/javascript"></script>

{% endblock %}