{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
        input[type=text] {
    background-color: transparent !important;
    border:none !important
}
.drop-zone {
  max-width: 100%;
  height: 300px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.BUTTON_MZQ {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 20px;
   font-weight: 100;
   padding: 5px 15px;
   margin:20px 5px 10px 5px;
   -webkit-box-shadow: 1px 1px 10px 0 #000000;
   -moz-box-shadow: 1px 1px 10px 0 #000000;
   box-shadow: 1px 1px 10px 0 #000000;
   text-shadow: 1px 1px 10px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_MZQ:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   text-decoration: none;
}

.aLink {
   background:#337FED ;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 20px;
   font-weight: 100;
   padding: 16px 15px;
   margin:5px 5px 10px 5px;
   -webkit-box-shadow: 1px 1px 10px 0 #000000;
   -moz-box-shadow: 1px 1px 10px 0 #000000;
   box-shadow: 1px 1px 10px 0 #000000;
   text-shadow: 1px 1px 10px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
.aLink:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   text-decoration: none;
   color:white;
}

span.cls_002{font-family:"Calibri",serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:"Calibri",serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:"Calibri Bold",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:"Calibri Bold",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:"Calibri Bold",serif;font-size:11.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:"Calibri Bold",serif;font-size:11.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:"Calibri",serif;font-size:11.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:"Calibri",serif;font-size:11.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:"Calibri",serif;font-size:7.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:"Calibri",serif;font-size:7.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_010{font-family:Arial,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_011{font-family:Arial,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:"Calibri",serif;font-size:6.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_012{font-family:"Calibri",serif;font-size:6.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_013{font-family:Arial,serif;font-size:8.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_013{font-family:Arial,serif;font-size:8.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_014{font-family:Arial,serif;font-size:8.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_014{font-family:Arial,serif;font-size:8.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_016{font-family:"Calibri",serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_016{font-family:"Calibri",serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}

</style>
<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">

                    </ol>
                </div>
                <h4 class="page-title">NDT 15 Form</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content">



    <div class="col-12">

        <form method="POST"  name="formvalidate" onsubmit="return validate();">
            {% csrf_token %}
            <input type="hidden" id="mainCanID" value="{{candidate.id}}" name="mainCanID"/>
            <input type="hidden" id="mainEventID" value="{{event.id}}" name="eventID"/>
            <input type="hidden" value="{{event.formCategory_id}}" name="fomCatID"/>
            <input type="hidden" value="{{category.id}}" name="categoryID"/>
            <input type="hidden" value="{{guideline.id}}" name="guidelineID"/>

            <div style="position:relative;top:0px;margin:5px auto; width:595px;height:841px;border-style:outset;overflow:hidden"
                 class="card">
                <div style="position:relative;left:0px;top:0px">

                    <img src="{% static 'images/forms/ndt/ndt_background1.jpg' %}" width=595 height=841></div>
                <div style="position:absolute;left:206.66px;top:33.94px" class="cls_002"><span class="cls_002">TRAINING AND EXAMINATION SERVICES</span>
                </div>
                <div style="position:absolute;left:436.50px;top:35.02px" class="cls_002"><span class="cls_002">Document no.:</span>
                </div>
                <div style="position:absolute;left:445.56px;top:53.98px" class="cls_006"><span class="cls_006">NDT 15A   rev. 3</span>
                </div>
                <div style="position:absolute;left:232.64px;top:56.20px" class="cls_004"><span class="cls_004">Experience Claim Form</span>
                </div>
                <div style="position:absolute;left:454.50px;top:74.92px" class="cls_003"><span
                        class="cls_003">Page</span></div>
                <div style="position:absolute;left:488.46px;top:74.92px" class="cls_003"><span
                        class="cls_003">1 of 2</span></div>
                <div style="position:absolute;left:106.22px;top:102.70px" class="cls_002"><span class="cls_002">-----   please carefully read the guidance on the reverse of this form, before completing the information</span>
                </div>
                <div style="position:absolute;left:492.72px;top:102.70px" class="cls_002"><span
                        class="cls_002">-----</span></div>
                <div style="position:absolute;left:77.64px;top:125.92px" class="cls_004"><span class="cls_004">Candidate details</span>
                </div>
                <div style="position:absolute;left:77.64px;top:148.80px" class="cls_003"><span
                        class="cls_003">Name </span><span class="cls_007"><sup>1</sup></span><input
                        style="margin-left:60px;border:none;" type="text"
                        value="{{form.candidate.first_name}} {{form.candidate.middleName}} {{form.candidate.last_name}}"
                        name="fullname"/></div>
                <div style="position:absolute;left:77.64px;top:174.72px" class="cls_003"><span class="cls_003">Date of birth </span><span
                        class="cls_007"><sup>2</sup></span><input style="margin-left:60px;border:none;width:70px;"
                                                                  type="text" value="{{form.candidate.birth_date}}"
                                                                  name="birthday"/></div>
                <div style="position:absolute;left:275.86px;top:174.72px" class="cls_003"><span class="cls_003">Candidate ID </span><span
                        class="cls_007"><sup>3</sup></span><input style="margin-left:60px;border:none;width:70px;"
                                                                  type="text" value="{{form.candidate.tes_candidate_id}}"
                                                                  name="candidateID"/></div>


                <div style="position:absolute;left:77.64px;top:207.90px" class="cls_004"><span class="cls_004">Current and former certification </span><span
                        class="cls_003"> </span><span class="cls_007"><sup>4</sup></span></div>





                <div style="position:absolute;left:77.64px;top:227.82px" class="cls_003"><span class="cls_003">Method & Level </span><span
                        class="cls_007"><sup>5</sup></span>
                {% for item in form.currentFormerCertification.all %}
                    <br><input type="text" name="methodLevel" value="{{item.methodLevel}}"  style="margin-top:4px;margin-left:0px;width:100px;" />

                {% endfor %}
                    </div>
                <div style="position:absolute;left:196.88px;top:227.82px" class="cls_003"><span class="cls_003">Expiry date </span><span
                        class="cls_007"><sup>6</sup></span>
                    {% for item in form.currentFormerCertification.all %}
                    <br><input type="text" name="ExpiryDate"   value="{{item.ExpiryDate|date:'m/d/Y'}}"  style="margin-top:4px;margin-left:0px;width:100px;" />

                {% endfor %}
                </div>
                <div style="position:absolute;left:314.86px;top:227.82px" class="cls_003"><span class="cls_003">Scheme / Certifying authority </span><span
                        class="cls_007"><sup>7</sup></span>
                         {% for item in form.currentFormerCertification.all %}
                    <br><input type="text" name="SchemeCertifyingAuthority"  value="{{item.SchemeCertifyingAuthority}}"  style="margin-top:4px;margin-left:0px;width:210px;" />

                {% endfor %}
                </div>



                <div style="position:absolute;left:77.64px;top:309.90px" class="cls_004"><span class="cls_004">Experience claimed</span><span
                        class="cls_003"> </span><span class="cls_007"><sup>8</sup></span></div>
                <div style="position:absolute;left:77.64px;top:329.82px" class="cls_003"><span class="cls_003">Method & Level </span><span
                        class="cls_007"><sup>9</sup></span>
                    {% for item in form.experienceClaimed.all %}
                    <br><input type="text" name="claimedMethodLevel" value="{{item.methodLevel}}"  style="margin-top:4px;margin-left:0px;width:90px;" />
                    {% endfor %}
                   </div>
                <div style="position:absolute;left:176.66px;top:329.82px" class="cls_003"><span class="cls_003">Experience claimed since </span><span
                        class="cls_007"><sup>10</sup></span>
                    {% for item in form.experienceClaimed.all %}
                    <br><input type="text" name="ExperienceClaimedSince"  value="{{item.ExperienceClaimedSince}}"  style="margin-top:4px;margin-left:0px;width:120px;" />
                 {% endfor %}
                </div>
                <div style="position:absolute;left:310.72px;top:329.82px" class="cls_003"><span class="cls_003">Number of months </span><span
                        class="cls_007"><sup>11</sup></span>
                    {% for item in form.experienceClaimed.all %}
                    <br><input type="text" name="NumberOfNonths" value="{{item.NumberOfNonths}}"  style="margin-top:4px;margin-left:0px;width:110px;" />

                    {% endfor %}
                </div>
                <div style="position:absolute;left:427.32px;top:329.82px" class="cls_003"><span class="cls_003">Date of examination </span><span
                        class="cls_007"><sup>12</sup></span>
                    {% for item in form.experienceClaimed.all %}
                    <br><input type="text" name="DateOfExamination" value="{{item.DateOfExamination|date:'m/d/Y'}}"  style="margin-top:4px;margin-left:0px;width:110px;" />
                {% endfor %}
                </div>
                <div style="position:absolute;left:77.64px;top:427.58px" class="cls_003"><span class="cls_003">Description of experience </span><span
                        class="cls_007"><sup>13</sup></span><br><input
                        style="margin-left:6px;margin-top:5px;border:none;width:300px;height:60px;" type="text"
                        value="{{form.descriptionOfExperience}}" name="descriptionOfExperience"/></div>
                <div style="position:absolute;left:77.64px;top:521.78px" class="cls_003"><span
                        class="cls_003">Date</span><input style="margin-left:60px;border:none;width:80px;" type="text"
                                                          value="{{form.date|date:'m/d/Y'}}" name="date" id="date"/></div>
                <div style="position:absolute;left:258.52px;top:521.72px" class="cls_003"><span class="cls_003">Candidate’s signature </span><span
                        class="cls_007"><sup>14</sup></span></div>
                <div style="position:absolute;left:77.64px;top:557.36px" class="cls_004"><span class="cls_004">Verifier details</span><span
                        class="cls_003"> </span><span class="cls_007"><sup>15</sup></span></div>
                <div style="position:absolute;left:77.64px;top:580.28px" class="cls_003"><span class="cls_003">Name & Job title </span><span
                        class="cls_007"><sup>16</sup></span><input style="margin-left:12px;border:none;width:140px;"
                                                                   type="text" value="{{form.nameJobTitle}}"
                                                                   name="nameJobTitle"/></div>
                <div style="position:absolute;left:77.64px;top:606.20px" class="cls_003"><span class="cls_003">Company name </span><span
                        class="cls_007"><sup>17</sup></span><input style="margin-left:18px;border:none;width:140px;"
                                                                   type="text" value="{{form.companyName}}"
                                                                   name="companyName"/></div>
                <div style="position:absolute;left:77.64px;top:632.18px" class="cls_003"><span class="cls_003">Supervision</span><input
                        style="margin-left:42px;border:none;width:140px;" type="text"
                        value="{{form.supervisionActivity}}" name="supervisionActivity"/></div>
                <div style="position:absolute;left:77.64px;top:645.56px" class="cls_003"><span
                        class="cls_003">activity </span><span class="cls_007"><sup>18</sup></span></div>
                <div style="position:absolute;left:77.64px;top:671.48px" class="cls_003"><span
                        class="cls_003">E-mail </span><span class="cls_007"><sup>19</sup></span><input
                        style="margin-left:60px;border:none;width:140px;" type="text" value="{{form.verEmail}}"
                        name="verEmail"/></div>
                <div style="position:absolute;left:77.64px;top:697.54px" class="cls_003"><span class="cls_003">Declaration</span>
                </div>
                <div style="position:absolute;left:176.66px;top:697.48px" class="cls_003"><span class="cls_003">I have reviewed the information provided and can confirm the candidate</span>
                </div>
                <div style="position:absolute;left:176.66px;top:710.92px" class="cls_003"><span class="cls_003">gained experience as indicated above.</span>
                </div>
                <div style="position:absolute;left:77.64px;top:736.84px" class="cls_003"><span
                        class="cls_003">Date</span><input style="margin-left:80px;border:none;width:70px;" type="text"
                                                          value="{{form.verDate|date:'m/d/Y'}}" name="verDate" id="verDate"/></div>
                <div style="position:absolute;left:258.52px;top:736.78px" class="cls_003"><span class="cls_003">Verifier’s signature & stamp </span><span
                        class="cls_007"><sup>20</sup></span></div>
                <div style="position:absolute;left:90.02px;top:779.44px" class="cls_010"><span
                        class="cls_010"></span><span class="cls_011"> </span><span class="cls_002">  Before submitting the completed form please ensure all fields are completed and all required documentation is</span>
                </div>
                <div style="position:absolute;left:108.02px;top:791.26px" class="cls_002"><span class="cls_002">attached (see guidance on reverse).</span>
                </div>
                <div style="position:absolute;left:90.02px;top:804.46px" class="cls_010"><span
                        class="cls_010"></span><span class="cls_011"> </span><span class="cls_002">  The completed form with attachments should be submitted to TWI regional office.</span>
                </div>
            </div>
            <div style="margin:5px auto; width:595px;height:900px;border-style:outset;overflow:hidden" class="card">
                <div style="position:relative;left:0px;top:0px">
                    <img src="{% static 'images/forms/ndt/ndt_background2.jpg' %}" width=595 height=841></div>
                <div style="position:absolute;left:206.66px;top:40.94px" class="cls_002"><span class="cls_002">TRAINING AND EXAMINATION SERVICES</span>
                </div>
                <div style="position:absolute;left:436.50px;top:35.02px" class="cls_002"><span class="cls_002">Document no.:</span>
                </div>
                <div style="position:absolute;left:445.56px;top:53.98px" class="cls_006"><span class="cls_006">NDT 15A   rev. 3</span>
                </div>
                <div style="position:absolute;left:232.64px;top:56.20px" class="cls_004"><span class="cls_004">Experience Claim Form</span>
                </div>
                <div style="position:absolute;left:454.50px;top:74.92px" class="cls_003"><span
                        class="cls_003">Page</span></div>
                <div style="position:absolute;left:488.46px;top:74.92px" class="cls_003"><span
                        class="cls_003">2 of 2</span></div>
                <div style="position:absolute;left:72.00px;top:102.58px" class="cls_003"><span class="cls_003">Experience claim form - notes</span>
                </div>
                <div style="position:absolute;left:77.40px;top:120.10px" class="cls_012"><span class="cls_012">1</span>
                </div>
                <div style="position:absolute;left:98.72px;top:120.10px" class="cls_002"><span class="cls_002">The full name of candidate as stated on the original enrolment form (as it will be shown on the certificate).</span>
                </div>
                <div style="position:absolute;left:77.40px;top:137.10px" class="cls_012"><span class="cls_012">2</span>
                </div>
                <div style="position:absolute;left:98.72px;top:137.10px" class="cls_002"><span class="cls_002">Candidate’s date of birth in the following format DD/MM/YYYY (e.g. 20/08/1969).</span>
                </div>
                <div style="position:absolute;left:77.40px;top:154.08px" class="cls_012"><span class="cls_012">3</span>
                </div>
                <div style="position:absolute;left:98.72px;top:154.08px" class="cls_002"><span class="cls_002">The six-digit identification number of the candidate (if known - this is usually indicated on the result notice).</span>
                </div>
                <div style="position:absolute;left:77.40px;top:171.06px" class="cls_012"><span class="cls_012">4</span>
                </div>
                <div style="position:absolute;left:98.72px;top:171.06px" class="cls_002"><span class="cls_002">The candidate is advised to list certificates, which may be relevant to the experience claimed. This may be certificates</span>
                </div>
                <div style="position:absolute;left:98.72px;top:182.10px" class="cls_002"><span class="cls_002">currently valid, issued under a different scheme or expired certificates in the method for which experience is claimed.</span>
                </div>
                <div style="position:absolute;left:98.72px;top:193.08px" class="cls_002"><span class="cls_002">For example: if a candidate is claiming CSWIP MT Level 2 certificate an expired PCN MT level 2 certificate or MT Level 2</span>
                </div>
                <div style="position:absolute;left:98.72px;top:204.06px" class="cls_002"><span class="cls_002">certificate issued under SNT-TC-1A scheme will be considered during the claim review.</span>
                </div>
                <div style="position:absolute;left:77.40px;top:220.02px" class="cls_012"><span class="cls_012">5</span>
                </div>
                <div style="position:absolute;left:98.72px;top:220.02px" class="cls_002"><span class="cls_002">Standard abbreviations to be used (e.g. MT L2, UT L3 etc.).</span>
                </div>
                <div style="position:absolute;left:77.40px;top:237.00px" class="cls_012"><span class="cls_012">6</span>
                </div>
                <div style="position:absolute;left:98.72px;top:237.00px" class="cls_002"><span class="cls_002">Expiry date of certificate in the following format MM/YYYY (e.g. 12/2015)</span>
                </div>
                <div style="position:absolute;left:77.40px;top:253.98px" class="cls_012"><span class="cls_012">7</span>
                </div>
                <div style="position:absolute;left:98.72px;top:253.98px" class="cls_002"><span class="cls_002">Should the certificate be based on EN ISO 9712 the certifying authority who issued the certificate should be indicated</span>
                </div>
                <div style="position:absolute;left:98.72px;top:264.96px" class="cls_002"><span class="cls_002">(e.g. CSWIP, PCN, TUV Nord etc.). In other cases a scheme document should be referenced (SNT-TC-1A , EN 4179 etc.).</span>
                </div>
                <div style="position:absolute;left:77.40px;top:280.98px" class="cls_012"><span class="cls_012">8</span>
                </div>
                <div style="position:absolute;left:98.72px;top:280.98px" class="cls_002"><span class="cls_002">This form may be used to claim experience up to a maximum of three methods. If candidate needs to claim experience</span>
                </div>
                <div style="position:absolute;left:98.72px;top:291.96px" class="cls_002"><span class="cls_002">in more methods, an additional form should be used.</span>
                </div>
                <div style="position:absolute;left:77.40px;top:307.92px" class="cls_012"><span class="cls_012">9</span>
                </div>
                <div style="position:absolute;left:98.72px;top:307.92px" class="cls_002"><span class="cls_002">Method and Level of certification for which the candidate is claiming experience. Standard abbreviations should be</span>
                </div>
                <div style="position:absolute;left:98.72px;top:318.96px" class="cls_002"><span
                        class="cls_002">used.</span></div>
                <div style="position:absolute;left:77.40px;top:334.92px" class="cls_012"><span class="cls_012">10</span>
                </div>
                <div style="position:absolute;left:98.72px;top:334.92px" class="cls_002"><span class="cls_002">Start date from when the experience in given method was gained in the following format MM/YYYY (e.g. 06/2013)</span>
                </div>
                <div style="position:absolute;left:77.40px;top:351.90px" class="cls_012"><span class="cls_012">11</span>
                </div>
                <div style="position:absolute;left:98.72px;top:351.90px" class="cls_002"><span class="cls_002">Number of months for which the candidate was directly involved in activity (e.g. 9 months).</span>
                </div>
                <div style="position:absolute;left:98.72px;top:368.88px" class="cls_002"><span class="cls_002">Note: The experience may be claimed only for the time period during which the candidate carried out the relevant</span>
                </div>
                <div style="position:absolute;left:98.72px;top:379.86px" class="cls_002"><span class="cls_002">activity under supervision. For example: Individual is employed as an NDT inspector since 03/2015. Among his duties</span>
                </div>
                <div style="position:absolute;left:98.72px;top:390.84px" class="cls_002"><span class="cls_002">belong performance of the following methods: MT, PT, UT and ET. Since the start of employment, he spent 5 months</span>
                </div>
                <div style="position:absolute;left:98.72px;top:401.88px" class="cls_002"><span class="cls_002">only by carrying out MT inspections. Therefore, the claim form should indicate ‘MT L2͖ since 03/2015, duration 5</span>
                </div>
                <div style="position:absolute;left:98.72px;top:412.88px" class="cls_002"><span
                        class="cls_002">months’.</span></div>
                <div style="position:absolute;left:77.40px;top:428.84px" class="cls_012"><span class="cls_012">12</span>
                </div>
                <div style="position:absolute;left:98.72px;top:428.84px" class="cls_002"><span class="cls_002">Date of examination needs to be completed only if experience is claimed after examination. Claim of experience is</span>
                </div>
                <div style="position:absolute;left:98.72px;top:439.82px" class="cls_002"><span class="cls_002">possible maximum 2 years after successful examination.</span>
                </div>
                <div style="position:absolute;left:77.40px;top:455.84px" class="cls_012"><span class="cls_012">13</span>
                </div>
                <div style="position:absolute;left:98.72px;top:455.84px" class="cls_002"><span class="cls_002">A brief outline of activity carried out during the period (as stated in months) when experience was gained should be</span>
                </div>
                <div style="position:absolute;left:98.72px;top:466.82px" class="cls_002"><span class="cls_002">provided. The activity must be strictly related to method in which the certification is sought. This section may be also</span>
                </div>
                <div style="position:absolute;left:98.72px;top:477.80px" class="cls_002"><span class="cls_002">supported by attached up-to-date CV.</span>
                </div>
                <div style="position:absolute;left:77.40px;top:493.76px" class="cls_012"><span class="cls_012">14</span>
                </div>
                <div style="position:absolute;left:98.72px;top:493.76px" class="cls_002"><span class="cls_002">The form must be signed by the candidate.</span>
                </div>
                <div style="position:absolute;left:77.40px;top:510.74px" class="cls_012"><span class="cls_012">15</span>
                </div>
                <div style="position:absolute;left:98.72px;top:510.74px" class="cls_002"><span class="cls_002">Each form must be reviewed by the verifier whose signature confirms the information given (re: experience) to be</span>
                </div>
                <div style="position:absolute;left:98.72px;top:521.72px" class="cls_002"><span class="cls_002">correct. The only person to be classed a supervisor, will be the person who takes supervisory responsibility for the</span>
                </div>
                <div style="position:absolute;left:98.72px;top:532.76px" class="cls_002"><span class="cls_002">candidate on a working basis.</span>
                </div>
                <div style="position:absolute;left:102.44px;top:546.74px" class="cls_013"><span class="cls_013"></span><span
                        class="cls_014"> </span><span class="cls_002">  </span><span
                        class="cls_016">Employed candidates</span><span class="cls_002"> usually have their experience verified by a Company NDT supervisor, QA/QC manager,</span>
                </div>
                <div style="position:absolute;left:114.62px;top:557.72px" class="cls_002"><span class="cls_002">responsible NDT Level 3 etc. (a certified NDT level 3 in given method and sector is preferred).</span>
                </div>
                <div style="position:absolute;left:102.44px;top:571.70px" class="cls_013"><span class="cls_013"></span><span
                        class="cls_014"> </span><span class="cls_002">  </span><span class="cls_016">Self-employed candidates</span><span
                        class="cls_002"> usually have their experience verified by main contractor for whom work was carried</span>
                </div>
                <div style="position:absolute;left:114.62px;top:582.68px" class="cls_002"><span class="cls_002">out during the time when experience was gained.</span>
                </div>
                <div style="position:absolute;left:102.44px;top:596.66px" class="cls_002"><span class="cls_002">Colleagues without responsibility for the Candidates activity and/or the candidate’s subordinates are not acceptable</span>
                </div>
                <div style="position:absolute;left:102.44px;top:607.64px" class="cls_002"><span class="cls_002">verifiers.</span>
                </div>
                <div style="position:absolute;left:77.40px;top:621.62px" class="cls_012"><span class="cls_012">16</span>
                </div>
                <div style="position:absolute;left:98.72px;top:621.62px" class="cls_002"><span class="cls_002">Name of verifier (as stated on his/her certificate) and official employment job title.</span>
                </div>
                <div style="position:absolute;left:77.40px;top:638.60px" class="cls_012"><span class="cls_012">17</span>
                </div>
                <div style="position:absolute;left:98.72px;top:638.60px" class="cls_002"><span class="cls_002">Name of company where the verifier is employed.</span>
                </div>
                <div style="position:absolute;left:77.40px;top:655.64px" class="cls_012"><span class="cls_012">18</span>
                </div>
                <div style="position:absolute;left:98.72px;top:655.64px" class="cls_002"><span class="cls_002">Briefly outline - how was Verifier involved in candidate’s supervision and what sort of responsibility he/she had for the</span>
                </div>
                <div style="position:absolute;left:98.72px;top:666.62px" class="cls_002"><span class="cls_002">results of tests carried out by candidate</span>
                </div>
                <div style="position:absolute;left:77.40px;top:682.58px" class="cls_012"><span class="cls_012">19</span>
                </div>
                <div style="position:absolute;left:98.72px;top:682.58px" class="cls_002"><span class="cls_002">Verifier’s contact e-mail. The Verifier may be contacted and asked for further relevant details if there is any doubt</span>
                </div>
                <div style="position:absolute;left:98.72px;top:693.58px" class="cls_002"><span class="cls_002">whatsoever.  Company  e-mail  addresses  are  preferred;  private  e-mail  addresses  set-up  for  the  purpose  of</span>
                </div>
                <div style="position:absolute;left:98.72px;top:704.56px" class="cls_002"><span class="cls_002">communication with the certificating body will not be accepted.</span>
                </div>
                <div style="position:absolute;left:77.40px;top:720.58px" class="cls_012"><span class="cls_012">20</span>
                </div>
                <div style="position:absolute;left:98.72px;top:720.58px" class="cls_002"><span class="cls_002">By signing the declaration, the verifier confirms accuracy of information provided. Verifier’s signature should be</span>
                </div>
                <div style="position:absolute;left:98.72px;top:731.56px" class="cls_002"><span class="cls_002">accompanied by stamp.</span>
                </div>
                <div style="position:absolute;left:74.46px;top:753.46px" class="cls_003"><span class="cls_003">Required attachments</span>
                </div>
                <div style="position:absolute;left:98.72px;top:771.04px" class="cls_002"><span class="cls_002">Copy of verifier’s certificate</span>
                </div>
                <div style="position:absolute;left:98.72px;top:791.02px" class="cls_002"><span class="cls_002">Copy of candidate’s relevant certificates (optional)</span>
                </div>
            </div>

            <div style="clear:both"></div>
            <div class="mb-3 col-md-12 text-center">
                <button name="mainForm" class="BUTTON_MZQ" style="height:40px; width:150px;" type="submit">Update
                </button>
            </div>

        </form>

    </div>


</div> <!-- end tab-content-->

</div>
<!-- end card-body -->
</div>
<!-- end card-->
</div>
<!-- end col-->
</div>
<!-- end row -->

<!-- container -->

</div>
<!-- content -->
<!-- bundle -->
<script src="{% static 'assets/js/vendor.min.js' %}"></script>
<script src="{% static 'assets/js/app.min.js' %}"></script>
<script src="{% static 'js/forms/ndt15a/regex.js' %}" type="text/javascript"></script>
<script>


</script>

{% endblock %}